#container {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

nav {
    width: 100%;
    background-color: #3fc0b6;
}

nav #title {
  padding-bottom: 20px;
  color: white;
  font-family: Oswald;
  font-size: 60px;
  text-align: left;
  padding-left: 20px;
}

nav #links {
  padding-right: 20px;
  text-align: right;
  font-size: 20px;
  color: white;
}

nav a {
  color: white;
  text-decoration: none;
}

#login {
  text-align: center;
  line-height: 30px;
}

.error {
  height: 1em;
  color: red;
  font-size: .75em;
}

#create_items, #create_list {
  margin-top: 20px;
  margin-bottom: 20px;
}

#create_list {
  text-align: center;
}

#create_items {
  display: none;
}

button, input[type=submit] {
font-family: "Roboto Slab";
  color: white;
  width: 100px;
  margin: 10px;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  background-color: #3fc0b6;
}

#create_items_form input {
  margin-top: 10px;
  margin-bottom: 10px;
}

#item_list {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 500px;
}

.highlight {
  background-color: beige;
}

input[type=submit]:disabled {
    background: lightgrey;
}

button:disabled {
    background: lightgrey;
}

.strike_through {
  text-decoration: line-through;
}

.item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.item input[type=checkbox] {
  margin-right: 10px;
}
