<div id="create_user">
	<form action="/user" method="POST">
		<input name="user[name]" placeholder="Full Name">
		<input name="user[username]" placeholder="Select a username">
		<input type="password" name="user[name]" placeholder="Enter a secure password">
		<input type="password" name="user[password_confirmation" placeholer="Re-enter your password">
		<input type="submit" value="Create Account">
	</form>
</div>