<h3>Welcome to ListIt!</h3>
<p>ListIt provides a way for you to organize your life. Create lists on the on-go then have easy access to them. Mark things off once done and feel the satisfaction of progress.</p>
